<!-- nova/templates/nova/partials/_thread_item.html -->
{% load static %}
{% load i18n %}

<li class="list-group-item d-flex align-items-center gap-2{% if thread.archived_at %} text-muted{% endif %}" data-thread-item-id="{{ thread.id }}">
    <a href="#" class="thread-link" data-thread-id="{{ thread.id }}">{{ thread.subject }}</a>
    {% if thread.archived_at %}
    <button class="unarchive-thread-btn btn btn-sm btn-link ms-auto"
            data-thread-id="{{ thread.id }}"
            aria-label="{% trans 'Restore thread' %}">{% trans "Restore" %}</button>
    {% else %}
    <button class="archive-thread-btn btn btn-sm btn-link ms-auto"
            data-thread-id="{{ thread.id }}"
            aria-label="{% trans 'Archive thread' %}"><i class="bi bi-archive"></i>
            <span class="visually-hidden">{% trans "Archive" %}</span>
    </button>
    {% endif %}
  </li>
