{% load i18n %}
{% for group_name, threads in grouped_threads.items %}
  {% if threads %}
    <div class="thread-group mb-3" data-group="{{ group_name }}">
      <h6 class="text-muted mb-2 px-3 pt-2 pb-1 border-bottom">
        {% if group_name == 'today' %}
          {% trans "Today" %}
        {% elif group_name == 'yesterday' %}
          {% trans "Yesterday" %}
        {% elif group_name == 'last_week' %}
          {% trans "Last Week" %}
        {% elif group_name == 'last_month' %}
          {% trans "Last Month" %}
        {% else %}
          {% trans "Older" %}
        {% endif %}
      </h6>
      <ul class="list-group list-group-flush">
        {% for thread in threads %}
          {% include 'nova/partials/_thread_item.html' with thread=thread %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endfor %}
