services:
  db:
    extends:
      file: docker-compose.base.yml
      service: db

  redis:
    extends:
      file: docker-compose.base.yml
      service: redis

  nginx:
    extends:
      file: docker-compose.base.yml
      service: nginx
      
  minio:
    extends:
      file: docker-compose.base.yml
      service: minio

  minio-nova-init:
    extends:
      file: docker-compose.base.yml
      service: minio-nova-init

  celery-worker:
    extends:
      file: docker-compose.base.yml
      service: celery-worker

  celery-beat:
    extends:
      file: docker-compose.base.yml
      service: celery-beat

  web:
    extends:
      file: docker-compose.base.yml
      service: web

volumes:
  postgres_data:
  static_data:
  media_data:
  minio_data:
